[user]
	name = Matthias BUSSONNIER
	email = bussonniermatthias@gmail.com
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = blue
	remote = green dim
[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green dim 
[color "status"]
	added = blue
	changed = green dim
	untracked = cyan
[color "diff"]
	whitespace = red reverse
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/bussonniermatthias/.gitignore_global
[http]
	#proxy = http://www-cache.curie.fr:3128


[difftool.latex]
        cmd = git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
        prompt = false
[alias]
        ldiff = difftool -t latex   

[diff]
	tool = vimdiff
[remote "origin"]
    fetch = +refs/pull/*/head:refs/remotes/origin/pull/*
    fetch = +refs/pull/*/merge:refs/remotes/origin/merge/*
[push]
	default = matching
